################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calcular/bin/Debug
/Calcular/obj/Debug
/.vs/Calcular_TMB_GET/v15
